body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	height: 42%;
	width: 42%;
	padding: 15px;
}

.img-1 {
	float: left;
}

.img-2 {
	float: right;
}
